<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0031)http://www.cdadri.com/zzjg.html -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>
        组织机构- 企业介绍-成都市建筑设计研究院 CDAD
    </title>
    <meta name="keywords" content="成都市建筑设计研究院,CDAD">
    <meta name="description" content="成都市建筑设计研究院（以下简称CDAD）始建于1959年，前身为成都市设计院，1991年6月正式更名为“成都市建筑设计研究院”">
    <meta name="Copyright" content="成都市建筑设计研究院">
</head>
<body style="">
    <div class="header">
        <a href="http://www.cdadri.com/" class="logo" title="成都市建筑设计研究院"></a>
    </div>
    <div class="wrapper" id="pagemain">

        <div class="box">
            <input type="hidden" id="pageid" value="2">
            <div class="tabnav">
                <ul class="clearfix">
                    <li class="col-xs-3 first active"><a href="/CompanyProfile/Index">企业简介</a></li>
                    <li class="col-xs-3"><a href="/CompanyProfile/Organization">组织架构</a></li>
                    <li class="col-xs-3"><a href="/CompanyProfile/Qualification">企业资质</a></li>
                    <li class="col-xs-3"><a href="/CompanyProfile/HonoraryAward">荣誉奖项</a></li>

                </ul>
            </div>
            <div class="singlebox clearfix">
                <div class="singleContent">
                    <p>
                        &nbsp;
                    </p>
                    <p>
                        <img src="~/images/companyProfile/20170515161816_0495.png" alt="">
                    </p>
                    <p>
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="wrapper">
            <p>
                <span class="fr">蜀ICP备17038600号</span>
                成都市建筑设计研究院  版权所有
            </p>
            <p class="cright">
                <span class="fr"><a href="http://www.mekabrand.com/" class="mk" target="_blank"></a></span>
                Copyright © www.cdadri.com All Rights Reserved.
            </p>
        </div>
    </div>
</body>
</html>