<div class="footer">
    <div class="wrapper">
        <p>
            <span class="fr">蜀ICP备17038600号</span>
            成都市建筑设计研究院  版权所有
        </p>
        <p class="cright">
            <span class="fr"><a href="http://www.mekabrand.com/" class="mk" target="_blank"></a></span>
            Copyright © www.cdadri.com All Rights Reserved.
        </p>
    </div>
</div>
