@{
    Layout = null;
}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>
        成都市建筑设计研究院 CDAD
    </title>
    <link href="~/css/home/index.css" rel="stylesheet" type="text/css" />
    <meta name="keywords" content="成都市建筑设计研究院,CDAD" />
    <meta name="description" content="成都市建筑设计研究院（以下简称CDAD）始建于1959年，前身为成都市设计院，1991年6月正式更名为“成都市建筑设计研究院”" />
    <meta name="Copyright" content="成都市建筑设计研究院" />
</head>
<body style="width: 1536px; height: 684px;">
    <input type="hidden" id="pageid" value="0" />
    <div class="bannerbox">
        <ul id="slides">

            <li style="background-image: url(&quot;/images/home/20171016092952.jpg&quot;); z-index: 9; display: none;"> <a href="http://www.cdadri.com/index.html" target="_blank"></a></li>

            <li style="background-image: url(&quot;/images/home/20171016093009.jpg&quot;); z-index: 8;"> <a href="http://www.cdadri.com/index.html" target="_blank"></a></li>

            <li style="background-image: url(&quot;/images/home/20171016093025.jpg&quot;); display: none;"> <a href="http://www.cdadri.com/index.html" target="_blank"></a></li>

            <li style="background-image: url(&quot;/images/home/20171016093038.jpg&quot;); display: none;"> <a href="http://www.cdadri.com/index.html" target="_blank"></a></li>

        </ul><div id="pagination"><div class="pbox"><div class="plist"><span class="">1</span><span class="current">2</span><span>3</span><span>4</span></div></div></div>
    </div>
    <div class="containner">
        <div class="pagemain">
            <div class="logo"><img src="images/home/logo-home.png" title="成都市建筑设计研究院" /></div>
            <div class="box clearfix">
                <div class="boxleft">
                    <div class="navlist">
                        <ul id="Tabs">
                            <li class="active"><a href="/Home/Index">网站首页</a></li>
                            <li><a href="/News/Index">新闻资讯</a></li>
                            <li><a href="/CompanyProfile/Index">企业概况</a></li>
                            <li><a href="/AchievementShow/Index">成果展示</a></li>
                            <li><a href="/PartyBuilding/Index">党团建设</a></li>
                            <li><a href="/Recruitment/Index">人力招聘</a></li>
                            <li><a href="/Contact/Index">联系我们</a></li>
                        </ul>
                    </div>
                </div>
                <div class="boxright">
                    <div class="close-right" style="display: block;">
                        <span class="">收起</span>
                    </div>
                    <div class="contentpanel" style="display: block;">
                        <div class="mainbox" style="display: none;"></div>
                        <div class="mainbox" style="display: none;">
                            <div class="curtitle">新闻资讯</div>
                            <div class="newsabout">
                                <ul class="newsnav">
                                    <li><a href="/News/Index">企业新闻</a></li>
                                    <li><a href="/News/StaffStyle">职工风采</a></li>
                                </ul>
                                <div>成都市建筑设计研究院官方新闻发布平台，包括企业日常新闻动态和相关项目等图文信息。<br /></div>
                            </div>
                            <div class="news-scroll">
                                <ul id="slides_news">

                                    <li style="z-index: 9; display: none;">
                                        <a href="http://www.cdadri.com/news/94.html">
                                            <div class="fl">
                                                <img src="images/home/20171027023128603.jpg" width="500" height="300" />
                                            </div>
                                            <div class="newsintro">
                                                <h2 class="ellipsis-2">中地海外集团率埃塞俄比亚设计团队来我院交流考察</h2>
                                                <p class="time">2017-10-27</p>
                                                <div class="sumry ellipsis-4">
                                                    2017年10月24日，中地海外集团ETHB项目部张显、我院ETHB项目合作单位埃塞K2N设计公司一行九人来我院交流考察及配合完成项目的设计工作。我院领导热情接待了来宾，并在院党委副书记兼二所所长李繁的陪同下参观了我院各生产所。

                                                    院党委副书记兼二所所长李繁对中地海外集团及埃塞K2N设计公司的到来表示热烈的欢迎，就我院
                                                </div>
                                            </div>
                                        </a>
                                    </li>

                                    <li style="z-index: 8;">
                                        <a href="http://www.cdadri.com/news/92.html">
                                            <div class="fl">
                                                <img src="images/home/20170926042811891.jpg" width="500" height="300" />
                                            </div>
                                            <div class="newsintro">
                                                <h2 class="ellipsis-2">打造国际名片 重现盛世锦城|我院中标锦城绿道东标段</h2>
                                                <p class="time">2017-09-26</p>
                                                <div class="sumry ellipsis-4">
                                                    “一轴两山环七道”，天府绿道承载天府文化，统筹生态家园。相信不久的将来，人们便可沐浴在深厚人文气息里，在田园风光中尽情抚花赏水、观光休憩。
                                                </div>
                                            </div>
                                        </a>
                                    </li>

                                    <li style="display: none;">
                                        <a href="http://www.cdadri.com/news/89.html">
                                            <div class="fl">
                                                <img src="images/home/20170904074907735.jpg" width="500" height="300" />
                                            </div>
                                            <div class="newsintro">
                                                <h2 class="ellipsis-2">CDAD荣获四川省勘协设计“一带一路”工作先进单位称号</h2>
                                                <p class="time">2017-09-04</p>
                                                <div class="sumry ellipsis-4">
                                                    8月30日下午，成都市建筑设计研究院(以下称CDAD)参加四川省勘察设计“一带一路”创新发展经验交流暨表彰会议，获得四川省勘察设计“一带一路”工作先进单位荣誉称号。











                                                    会议由四川省勘察设计协会举办，四川省住房和城乡建设厅原副厅长、四川省勘察设计协会常务副理事长杨光、四川省住房和城乡
                                                </div>
                                            </div>
                                        </a>
                                    </li>

                                </ul><div id="pagination_news"><div class="pbox"><div class="plist"><span class="">1</span><span class="current">2</span><span>3</span></div></div></div>
                            </div>
                        </div>
                        <div class="mainbox" style="display: block;">
                            <div class="curtitle">企业理念</div>
                            <div class="aboutintro">我们的愿景：成为中国城市建设领域领先的、以工程设计为核心、提供全流程设计咨询服务的高科技、创新型企业。<br />我们的使命：构想城市未来 ，创造宜居空间。<br />我们的价值观：创新 · 激情 · 坚持 · 分享</div>
                            <div class="clearfix">
                                <ul class="aboutmenu">
                                    <li><a href="/CompanyProfile/Index">组织架构</a></li>
                                    <li><a href="/CompanyProfile/Qualification">企业资质</a></li>
                                    <li><a href="/CompanyProfile/HonoraryAward">荣誉奖项</a></li>

                                </ul>
                                <div class="aboutimg clearfix">
                                    <img src="images/home/about-1.jpg" />
                                    <img src="images/home/about-2.jpg" />
                                </div>
                            </div>
                        </div>
                        <div class="mainbox" style="display: none;">
                            <div class="curtitle">市场营销</div>
                            <div class="aboutintro">市场营销事业部是成都市建筑设计研究院“转型升级，再创业”过程中重要开拓部门，通过专业的市场营销体系和团队建设，CDAD将更贴近客户需求，并为客户提供专人专职专岗的VIP服务。</div>
                            <div class="clearfix">
                                <img src="images/home/scyx.png" />
                            </div>
                        </div>
                        <div class="mainbox" style="display: none;">
                            <div class="curtitle">设计咨询</div>
                            <div class="aboutintro">成都市建筑设计研究院下设五个综合建筑设计所、景观规划所、规划设计所、市政设计所、环境艺术设计所、工程总承包事业部、新型城镇化研究所、方案创作中心、绿色建筑研发中心等业务部门；<br />涵盖城市规划与城市设计、工程总承包管理、建筑设计 BIM 技术应用、市政设计、新型城镇化建设与研究、景观设计、环境艺术设计、绿色建筑设计与研究、古建筑设计、建筑工程全程咨询、装修设计与施工一体化、住宅产业化研究、机电设计、施工图审查等专业领域；能承担大型工程项目的可行性研究、总体规划、技术咨询、工程设计、项目管理、工程总承包等业务。<br /></div>
                            <div class="clearfix">
                                <ul class="aboutmenu dd">
                                    <li class="dd"><a href="http://www.cdadri.com/sjzx/1.html">建筑设计</a></li>
                                    <li class="dd"><a href="http://www.cdadri.com/sjzx/6.html">BIM技术应用</a></li>
                                    <li class="dd"><a href="http://www.cdadri.com/sjzx/2.html">景观设计</a></li>
                                    <li class="dd"><a href="http://www.cdadri.com/sjzx/3.html">规划设计</a></li>
                                    <li class="dd"><a href="http://www.cdadri.com/sjzx/4.html">市政设计</a></li>
                                    <li class="dd"><a href="http://www.cdadri.com/sjzx/5.html">环境艺术设计</a></li>
                                    <li class="dd"><a href="http://www.cdadri.com/sjzx/7.html">工程咨询</a></li>
                                    <li class="dd"><a href="http://www.cdadri.com/sjzx/8.html">施工图审查</a></li>
                                </ul>
                                <div class="aboutimg dd clearfix">
                                    <img src="images/home/sjzx.jpg" />
                                </div>
                            </div>
                        </div>
                        <div class="mainbox" style="display: none;">
                            <div class="curtitle">工程总承包</div>
                            <div class="aboutintro">2010年, 成都市建筑设计研究院成立了工程总承包事业部, 重点推动实施以设计牵头的工程总承包（EPC）服务。以设计牵头的工程总承包（EPC）模式下，设计方、施工方作为统一主体对工程负责，强化了责任、配合意识；通过管理，突出设计环节在控制造价、优化施工组织措施、监督施工质量的核心作用；同时，该模式在控制项目周期上优势明显，使业主需求得到最大化满足。</div>
                            <div class="aboutcenterimg clearfix">
                                <img src="images/home/gczcb.png" />
                            </div>
                        </div>
                        <div class="mainbox" style="display: none;">
                            <div class="curtitle">分支机构</div>
                            <div class="aboutintro">成都市建筑设计研究院新疆分院成立于2014年2月，以成都市建筑设计研究院历经55年的国家行业甲级的专业技术及科学的管理方法做载体，重新定义新疆设计行业高精度、高质量的设计水准，肩负开发西北市场的历史使命。<br />成都市建筑设计研究院新疆分院现设有建筑、结构、给水排水、电气照明及采暖通风、景观、BIM、规划、装修、绿色建筑等专业，主要承接民用建筑设计、景观与环境设计、城市规划与城市设计、装修设计、环境艺术设计、绿色建筑研究及技术咨询等相关业务。</div>
                            <div class="aboutcenterimg clearfix">
                                <img src="images/home/fzjg.png" />
                            </div>
                        </div>
                        <div class="mainbox" style="display: none;">
                            <div class="curtitle">业绩展示</div>
                            <div class="aboutintro">传承历史，设计未来。经过一代代优秀建筑人的共同努力，CDAD在城市设计、办公建筑、教育建筑、产业园区、酒店建筑、商业综合体、住宅建筑等各专项建筑领域，均取得了斐然业绩。面对新的时代环境，CDAD正通过设立分工更为精细的专业团队和专项研究所；鼓励建筑师的创造性；深化建筑理论和实践的研究与推广等创新手段，不断强化建筑设计专业能力和综合竞争力。</div>
                            <div class="clearfix">
                                <ul class="aboutmenu dd">
                                    <li class="dd"><a href="http://www.cdadri.com/case/list-1.html">建筑设计类</a></li>
                                    <li class="dd"><a href="http://www.cdadri.com/case/list-3.html">规划设计类</a></li>
                                    <li class="dd"><a href="http://www.cdadri.com/case/list-2.html">景观设计类</a></li>
                                    <li class="dd"><a href="http://www.cdadri.com/case/list-4.html">市政设计类</a></li>
                                    <li class="dd"><a href="http://www.cdadri.com/case/list-5.html">室内设计类</a></li>
                                    <li class="dd"><a href="http://www.cdadri.com/case/list-6.html">工程总承包</a></li>
                                    <li class="dd"><a href="http://www.cdadri.com/case/list-7.html">方案创作中心</a></li>
                                    <li class="dd"><a href="http://www.cdadri.com/case/list-8.html">城市有机更新</a></li>
                                    <li class="dd"><a href="http://www.cdadri.com/case/list-17.html">幕墙设计类</a></li>
                                </ul>
                                <div class="aboutimg dd clearfix">
                                    <img src="images/home/yjzs.png" />
                                </div>
                            </div>
                        </div>
                        <div class="mainbox" style="display: none;">
                            <div class="curtitle">创新研发</div>
                            <div class="aboutintro">我院一直高度重视科研、创新工作，先后成立方案创作中心，绿色建筑研究中心，新型城镇化研究中心等部门，制定科研管理办法和发展规划，培养科研人才，提升科研技术创新能力，在工程设计应用、基础研究、国家行业地方标准规范编制、专利技术、科研成果转化等方面结出丰硕成果。 </div>
                            <div class="clearfix">
                                <ul class="aboutmenu">
                                    <li><a href="http://www.cdadri.com/cxyf/9.html">方案创作研究</a></li>
                                    <li><a href="http://www.cdadri.com/cxyf/10.html">绿色建筑研究</a></li>
                                    <li><a href="http://www.cdadri.com/cxyf/11.html">新型城镇化研究</a></li>
                                    <li><a href="http://www.cdadri.com/cxyf/list-3.html">科研项目</a></li>
                                    <li><a href="http://www.cdadri.com/cxyf/list-4.html">协会交流</a></li>
                                </ul>
                                <div class="aboutimg clearfix">
                                    <img src="images/home/cxyf.png" />
                                </div>
                            </div>
                        </div>
                        <div class="mainbox" style="display: none;">
                            <div class="curtitle">人力资源</div>
                            <div class="teambox">
                                <div class="aboutintro">作为知识密集型企业，管理和专业人才的知识、技能、创造力是CDAD最为宝贵的财富。通过长期努力，CDAD正逐步构建起多元的职业技能培训体系、有利于青年职业人才成长的导师带教制度、有竞争力的薪酬考核体系、严谨而宽松的关注个体发展的企业文化氛围，在多种类型的工作及项目实践过程中为人才成长搭建最佳平台，从而使我院人才聚合及培养能力得到较大提升。</div>
                                <ul class="teamnav clearfix">
                                    <li><a href="/Recruitment/Index" target="_blank">人才招聘</a></li>
                                </ul>
                                <div class="teamnlist clearfix" style="display:none">

                                </div>
                                <div class="clearfix">
                                    <img src="images/home/team.jpg" />
                                </div>
                            </div>
                        </div>

                        <div class="mainbox" style="display: none;">
                            <div class="curtitle">联系我们</div>
                            <div class="contactbox">
                                <div class="contactintro">
                                    <!--<h3>成都市建筑设计研究院</h3>
                                    <h4>CHENGDU ARCHITECTURAL DESIGN & RESEARCH INSTITUTE</h4>
                                    -->
                                    <div class="intro">地址：成都市人民中路一段东御河沿街16号<br />邮编：610015<br />传真：028-8661 5227<br /><br />联系电话：<br />人才应聘： 028-8651 1733 <br />业务联系： 028-8661 7862 / 028-8662 5940-2122<br />新疆分院： 0991-8890915</div>
                                </div>
                                <div class="weixin">
                                    <img src="images/home/ewm.jpg" />
                                    <p>手机微信扫一扫</p>
                                    <p>关注官方微信号</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="wrapper">Copyright © Chengdu Architectural Design &amp; Research Institute. All right reserved.</div>
    </div>
    <script type="text/javascript" src="js/common/jquery.js"></script>
    <script type="text/javascript" src="js/common/jquery.jslides.js"></script>
    <script type="text/javascript" src="js/common/jquery.jslides_index.js"></script>
    <script type="text/javascript" src="js/home/index.js"></script>
</body>
</html>