<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>
        建筑设计类- 业绩展示-成都市建筑设计研究院 CDAD
    </title>
    <meta name="keywords" content="成都市建筑设计研究院,CDAD">
    <meta name="description" content="成都市建筑设计研究院（以下简称CDAD）始建于1959年，前身为成都市设计院，1991年6月正式更名为“成都市建筑设计研究院”">
    <meta name="Copyright" content="成都市建筑设计研究院">
</head>
<body>
    <div class="wrapper" id="pagemain">

        <div class="box">
            <input type="hidden" id="pageid" value="3">
            <div class="casebox">
                <div id="CaseMainNav" class="case-class" style="top: 12px;">
                    <ul>

                        <li class=" first  active" style="background-image: url(/images/achievementShow/20151212114531470.png)">
                            <a href="http://www.cdadri.com/case/list-1.html">建筑设计类</a>
                        </li>

                        <li class=" " style="background-image: url(/images/achievementShow/20151213121403381.png)">
                            <a href="http://www.cdadri.com/case/list-3.html">规划设计类</a>
                        </li>

                        <li class=" " style="background-image: url(/images/achievementShow/2015121312123884.png)">
                            <a href="http://www.cdadri.com/case/list-2.html">景观设计类</a>
                        </li>

                        <li class=" " style="background-image: url(/images/achievementShow/20151213121438667.png)">
                            <a href="http://www.cdadri.com/case/list-4.html">市政设计类</a>
                        </li>

                        <li class=" " style="background-image: url(/images/achievementShow/20151213121501875.png)">
                            <a href="http://www.cdadri.com/case/list-5.html">室内设计类</a>
                        </li>

                        <li class=" " style="background-image: url(/images/achievementShow/20151213121539991.png)">
                            <a href="http://www.cdadri.com/case/list-6.html">工程总承包</a>
                        </li>

                        <li class=" " style="background-image: url(/images/achievementShow/20151213121605808.png)">
                            <a href="http://www.cdadri.com/case/list-7.html">方案创作中心</a>
                        </li>

                        <li class=" " style="background-image: url(/images/achievementShow/20151213121626245.png)">
                            <a href="http://www.cdadri.com/case/list-8.html">城市有机更新</a>
                        </li>

                        <li class=" " style="background-image: url(/images/achievementShow/20171017035920142.png)">
                            <a href="http://www.cdadri.com/case/list-17.html">幕墙设计类</a>
                        </li>

                    </ul>
                </div>
                <div class="subtitle">建筑设计类</div>
                <div class="nextmenu" style=" display: ">
                    <ul class="clearfix">
                        <li class="active"><a href="http://www.cdadri.com/case/list-1.html">全部</a></li>

                        <li><a href="http://www.cdadri.com/case/list-9.html">公共建筑</a></li>

                        <li><a href="http://www.cdadri.com/case/list-10.html">商业办公</a></li>

                        <li><a href="http://www.cdadri.com/case/list-11.html">产业园区</a></li>

                        <li><a href="http://www.cdadri.com/case/list-12.html">酒店住宅</a></li>

                        <li><a href="http://www.cdadri.com/case/list-13.html">教育医疗</a></li>

                        <li><a href="http://www.cdadri.com/case/list-14.html">传统建筑</a></li>

                        <li><a href="http://www.cdadri.com/case/list-15.html">新型城镇化</a></li>

                    </ul>
                </div>
                <div class="caselist">
                    <ul class="clearfix">

                        <li>
                            <a href="javascript:void(0);" onclick="OpenWin(&quot;/case/196.html&quot;)">
                                <img src="~/images/achievementShow/20171107030550867.jpg">
                                <div class="lay">
                                    <h3 class="ellipsis">埃塞俄比亚国家电信大楼</h3>
                                    <p class="ellipsis">建筑设计类 | 商业办公</p>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0);" onclick="OpenWin(&quot;/case/1.html&quot;)">
                                <img src="~/images/achievementShow/20171026051830702.jpg">
                                <div class="lay">
                                    <h3 class="ellipsis">天府创新中心一期</h3>
                                    <p class="ellipsis">建筑设计类 | 商业办公</p>
                                </div>
                            </a>
                        </li>

                        <li class="nomr">
                            <a href="javascript:void(0);" onclick="OpenWin(&quot;/case/41.html&quot;)">
                                <img src="~/images/achievementShow/20171026051921183.jpg">
                                <div class="lay">
                                    <h3 class="ellipsis">天府新区创新中心四期</h3>
                                    <p class="ellipsis">建筑设计类 | 商业办公</p>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0);" onclick="OpenWin(&quot;/case/30.html&quot;)">
                                <img src="~/images/achievementShow/20151216045529974.jpg">
                                <div class="lay">
                                    <h3 class="ellipsis">成都市国家综合档案馆</h3>
                                    <p class="ellipsis">建筑设计类 | 公共建筑</p>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0);" onclick="OpenWin(&quot;/case/177.html&quot;)">
                                <img src="~/images/achievementShow/20171017025920235.jpg">
                                <div class="lay">
                                    <h3 class="ellipsis">黄忠配套小学（特教小学）及幼儿园工程项目</h3>
                                    <p class="ellipsis">建筑设计类 | 教育医疗</p>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0);" onclick="OpenWin(&quot;/case/163.html&quot;)">
                                <img src="~/images/achievementShow/20171016041257235.jpg">
                                <div class="lay">
                                    <h3 class="ellipsis">新川创新科技园-新川一中建设工程</h3>
                                    <p class="ellipsis">建筑设计类 | 教育医疗</p>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0);" onclick="OpenWin(&quot;/case/141.html&quot;)">
                                <img src="~/images/achievementShow/20161215012102256.jpg">
                                <div class="lay">
                                    <h3 class="ellipsis">成都茶店子小学新区建设工程</h3>
                                    <p class="ellipsis">建筑设计类 | 教育医疗</p>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0);" onclick="OpenWin(&quot;/case/140.html&quot;)">
                                <img src="~/images/achievementShow/20161215011437255.jpg">
                                <div class="lay">
                                    <h3 class="ellipsis">四川大学生物治疗转化医学大楼</h3>
                                    <p class="ellipsis">建筑设计类 | 教育医疗</p>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0);" onclick="OpenWin(&quot;/case/139.html&quot;)">
                                <img src="~/images/achievementShow/20161215010751365.jpg">
                                <div class="lay">
                                    <h3 class="ellipsis">茶盘寺棚户区改造还房配套小学建设（实验小学扩建）工程</h3>
                                    <p class="ellipsis">建筑设计类 | 教育医疗</p>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0);" onclick="OpenWin(&quot;/case/138.html&quot;)">
                                <img src="~/images/achievementShow/20161215125534839.jpg">
                                <div class="lay">
                                    <h3 class="ellipsis">新川创新科技园四组团二小</h3>
                                    <p class="ellipsis">建筑设计类 | 教育医疗</p>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0);" onclick="OpenWin(&quot;/case/137.html&quot;)">
                                <img src="~/images/achievementShow/20161205014123560.jpg">
                                <div class="lay">
                                    <h3 class="ellipsis">成都市龙泉中心片区图书馆与档案馆</h3>
                                    <p class="ellipsis">建筑设计类 | 公共建筑</p>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0);" onclick="OpenWin(&quot;/case/73.html&quot;)">
                                <img src="~/images/achievementShow/20151216062910610.jpg">
                                <div class="lay">
                                    <h3 class="ellipsis">成都市第七中学天府校区</h3>
                                    <p class="ellipsis">建筑设计类 | 教育医疗</p>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0);" onclick="OpenWin(&quot;/case/91.html&quot;)">
                                <img src="~/images/achievementShow/20151216065316116.jpg">
                                <div class="lay">
                                    <h3 class="ellipsis">遂宁仁里古镇城镇建设提升项目</h3>
                                    <p class="ellipsis">建筑设计类 | 新型城镇化</p>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0);" onclick="OpenWin(&quot;/case/74.html&quot;)">
                                <img src="~/images/achievementShow/20151216063002674.jpg">
                                <div class="lay">
                                    <h3 class="ellipsis">泡桐树小学天府校区</h3>
                                    <p class="ellipsis">建筑设计类 | 教育医疗</p>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0);" onclick="OpenWin(&quot;/case/49.html&quot;)">
                                <img src="~/images/achievementShow/20151216051928517.jpg">
                                <div class="lay">
                                    <h3 class="ellipsis">新疆通汇二手车交易市场</h3>
                                    <p class="ellipsis">建筑设计类 | 产业园区</p>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0);" onclick="OpenWin(&quot;/case/48.html&quot;)">
                                <img src="~/images/achievementShow/20151216051859274.jpg">
                                <div class="lay">
                                    <h3 class="ellipsis">新疆巴楚县公路物流港</h3>
                                    <p class="ellipsis">建筑设计类 | 产业园区</p>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0);" onclick="OpenWin(&quot;/case/15.html&quot;)">
                                <img src="~/images/achievementShow/20151216013849656.jpg">
                                <div class="lay">
                                    <h3 class="ellipsis">日喀则地区人民医院</h3>
                                    <p class="ellipsis">建筑设计类 | 教育医疗</p>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0);" onclick="OpenWin(&quot;/case/8.html&quot;)">
                                <img src="~/images/achievementShow/20151216121050171.jpg">
                                <div class="lay">
                                    <h3 class="ellipsis">成都市公安局战训基地</h3>
                                    <p class="ellipsis">建筑设计类 | 公共建筑</p>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0);" onclick="OpenWin(&quot;/case/83.html&quot;)">
                                <img src="~/images/achievementShow/20151216063847657.jpg">
                                <div class="lay">
                                    <h3 class="ellipsis">成都市第二人民医院龙潭医院</h3>
                                    <p class="ellipsis">建筑设计类 | 教育医疗</p>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0);" onclick="OpenWin(&quot;/case/75.html&quot;)">
                                <img src="~/images/achievementShow/20151216063040512.jpg">
                                <div class="lay">
                                    <h3 class="ellipsis">蒲江中学整体迁建工程</h3>
                                    <p class="ellipsis">建筑设计类 | 教育医疗</p>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0);" onclick="OpenWin(&quot;/case/46.html&quot;)">
                                <img src="~/images/achievementShow/20151216051727985.jpg">
                                <div class="lay">
                                    <h3 class="ellipsis">郴州市现代服务产业园</h3>
                                    <p class="ellipsis">建筑设计类 | 产业园区</p>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0);" onclick="OpenWin(&quot;/case/42.html&quot;)">
                                <img src="~/images/achievementShow/20151216051222975.jpg">
                                <div class="lay">
                                    <h3 class="ellipsis">恒大御景半岛综合体</h3>
                                    <p class="ellipsis">建筑设计类 | 商业办公</p>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0);" onclick="OpenWin(&quot;/case/18.html&quot;)">
                                <img src="~/images/achievementShow/20151216014149868.jpg">
                                <div class="lay">
                                    <h3 class="ellipsis">泰安古镇风貌景观及市政规划设计</h3>
                                    <p class="ellipsis">建筑设计类 | 新型城镇化</p>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0);" onclick="OpenWin(&quot;/case/13.html&quot;)">
                                <img src="~/images/achievementShow/20151216125422287.jpg">
                                <div class="lay">
                                    <h3 class="ellipsis">花水湾名人酒店</h3>
                                    <p class="ellipsis">建筑设计类 | 酒店住宅</p>
                                </div>
                            </a>
                        </li>

                    </ul>

                </div>
                <div class="pagebox">

                    <!-- AspNetPager 7.3.2  Copyright:2003-2010 Webdiyer (www.webdiyer.com) -->
                    <div id="ctl00_Main_AspNetPager1" style="width:100%;">
                        <a disabled="disabled" style="margin-right:5px;">&lt; 上一页</a><span class="currue" style="margin-right:5px;">1</span><a href="http://www.cdadri.com/case/list-0-2.html" style="margin-right:5px;">2</a><a href="http://www.cdadri.com/case/list-0-3.html" style="margin-right:5px;">3</a><a href="http://www.cdadri.com/case/list-0-4.html" style="margin-right:5px;">4</a><a href="http://www.cdadri.com/case/list-0-2.html" style="margin-right:5px;">下一页 &gt;</a>
                    </div>
                    <!-- AspNetPager 7.3.2  Copyright:2003-2010 Webdiyer (www.webdiyer.com) -->

                </div>
            </div>
        </div>
    </div>
</body>
</html>