<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>
        职工风采- 新闻资讯-成都市建筑设计研究院 CDAD
    </title>
    <meta name="keywords" content="成都市建筑设计研究院,CDAD">
    <meta name="description" content="成都市建筑设计研究院（以下简称CDAD）始建于1959年，前身为成都市设计院，1991年6月正式更名为“成都市建筑设计研究院”">
    <meta name="Copyright" content="成都市建筑设计研究院">
</head>
<body style="">
    <div class="wrapper" id="pagemain">

        <div class="box">
            <input type="hidden" id="pageid" value="1">
            <div class="tabnav">
                <ul class="clearfix">

                    <li class="col-xs-6 first"><a href="/News/Index">企业新闻</a></li>

                    <li class="col-xs-6 active"><a href="/News/StaffStyle">职工风采</a></li>

                </ul>
            </div>
            <div class="newsbox">
                <div class="news-scroll" style=" display: ">
                    <ul id="slides">

                        <li>
                            <a href="http://www.cdadri.com/news/94.html">
                                <div class="fl">
                                    <img src="~/images/news/20171027023128603.jpg" width="500" height="300">
                                </div>
                                <div class="newsintro">
                                    <h2 class="ellipsis-2">中地海外集团率埃塞俄比亚设计团队来我院交流考察</h2>
                                    <p class="time">2017-10-27</p>
                                    <div class="sumry ellipsis-4">
                                        2017年10月24日，中地海外集团ETHB项目部张显、我院ETHB项目合作单位埃塞K2N设计公司一行九人来我院交流考察及配合完成项目的设计工作。我院领导热情接待了来宾，并在院党委副书记兼二所所长李繁的陪同下参观了我院各生产所。

                                        院党委副书记兼二所所长李繁对中地海外集团及埃塞K2N设计公司的到来表示热烈的欢迎，就我院
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li style="display: none;">
                            <a href="http://www.cdadri.com/news/92.html">
                                <div class="fl">
                                    <img src="~/images/news/20170926042811891.jpg" width="500" height="300">
                                </div>
                                <div class="newsintro">
                                    <h2 class="ellipsis-2">打造国际名片 重现盛世锦城|我院中标锦城绿道东标段</h2>
                                    <p class="time">2017-09-26</p>
                                    <div class="sumry ellipsis-4">
                                        “一轴两山环七道”，天府绿道承载天府文化，统筹生态家园。相信不久的将来，人们便可沐浴在深厚人文气息里，在田园风光中尽情抚花赏水、观光休憩。
                                    </div>
                                </div>
                            </a>
                        </li>

                    </ul><div id="pagination"><div class="pbox"><div class="plist"><span class="current">1</span><span>2</span></div></div></div>
                </div>
                <div class="newslist">
                    <ul>

                        <li><a href="http://www.cdadri.com/news/97.html"><span>2017-11-30</span>天府创新中心项目财富大厦一期幕墙工程设计及施工一体化项目招标公告</a></li>

                        <li class="db"><a href="http://www.cdadri.com/news/91.html"><span>2017-09-12</span>我院景观规划设计二所中标新津县津津乐道休闲绿道景观设计</a></li>

                        <li><a href="http://www.cdadri.com/news/86.html"><span>2017-08-07</span>我院绿色建筑设计中心喜获“新川杯”创意竞赛奖项</a></li>

                        <li class="db"><a href="http://www.cdadri.com/news/82.html"><span>2017-07-18</span>我院中标宜宾县坤泰湖湿地公园规划方案</a></li>

                        <li><a href="http://www.cdadri.com/news/81.html"><span>2017-07-18</span>我院喜中四川大学生物治疗转化医学中心项目</a></li>

                        <li class="db"><a href="http://www.cdadri.com/news/78.html"><span>2017-07-04</span>我院首个海外项目基础垫层浇筑作业正式开工</a></li>

                        <li><a href="http://www.cdadri.com/news/76.html"><span>2017-06-29</span>【媒体关注】CDAD出品|成都首个海绵城市公园 杉板桥公园8月底正式亮相</a></li>

                        <li class="db"><a href="http://www.cdadri.com/news/74.html"><span>2017-06-23</span>我院中标彭州市人民渠沿线综合整治项目勘察设计</a></li>

                        <li><a href="http://www.cdadri.com/news/73.html"><span>2017-06-20</span>我院生土试验研究小组赴青海、甘肃实地考察</a></li>

                        <li class="db"><a href="http://www.cdadri.com/news/72.html"><span>2017-06-20</span>CDAD出品|我院首个装配式建筑设计项目：郫县友爱镇幼儿园</a></li>

                        <li><a href="http://www.cdadri.com/news/68.html"><span>2017-06-06</span>CDAD出品|《成都市新农村建设导则2017（试行）》发布</a></li>

                        <li class="db"><a href="http://www.cdadri.com/news/63.html"><span>2017-05-11</span>我院中标新川环城公园及四组团绿廊景观工程项目</a></li>

                        <li><a href="http://www.cdadri.com/news/62.html"><span>2017-03-31</span>天府创新中心项目配套公寓幕墙工程设计施工一体化招标公告</a></li>

                    </ul>

                </div>
                <div class="pagebox">

                    <!-- AspNetPager 7.3.2  Copyright:2003-2010 Webdiyer (www.webdiyer.com) -->
                    <div id="ctl00_Main_AspNetPager1" style="width:100%;">
                        <a disabled="disabled" style="margin-right:5px;">&lt; 上一页</a><span class="currue" style="margin-right:5px;">1</span><a href="http://www.cdadri.com/news/list-2-2.html" style="margin-right:5px;">2</a><a href="http://www.cdadri.com/news/list-2-3.html" style="margin-right:5px;">3</a><a href="http://www.cdadri.com/news/list-2-4.html" style="margin-right:5px;">4</a><a href="http://www.cdadri.com/news/list-2-2.html" style="margin-right:5px;">下一页 &gt;</a>
                    </div>
                    <!-- AspNetPager 7.3.2  Copyright:2003-2010 Webdiyer (www.webdiyer.com) -->

                </div>
            </div>
        </div>
    </div>
</body>
</html>