<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0034)http://www.cdadri.com/news/96.html -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>
        我院顺利完成《成都市施工图报审文件和施工图审查文件》全面升级工作-企业新闻- 企业资讯-成都市建筑设计研究院 CDAD
    </title>
    <meta name="keywords" content="成都市建筑设计研究院,CDAD">
    <meta name="description" content="成都市建筑设计研究院（以下简称CDAD）始建于1959年，前身为成都市设计院，1991年6月正式更名为“成都市建筑设计研究院”">
    <meta name="Copyright" content="成都市建筑设计研究院">
</head>
<body style="">
    <div class="wrapper" id="pagemain">
        <div class="box">
            <input type="hidden" id="pageid" value="5">
            <div class="tabnav">
                <ul class="clearfix">

                    <li class="col-xs-12 first active"><a href="/Recruitment/Index">人才招聘</a></li>

                </ul>
            </div>
            <div class="articlebox">
                <div class="articletit">
                    <h2>我院顺利完成《成都市施工图报审文件和施工图审查文件》全面升级工作</h2>
                    <p>2017年11月28日 15:59</p>
                </div>
                <div class="articlecon">
                    <p class="MsoNormal" style="text-indent:26.25pt;">
                        近日，为规范全市房屋建筑工程施工图设计及审查有关工作，受市建委委托，由我院牵头，会同成都广益技术咨询有限责任公司、四川省建筑设计研究院对成都市施工图报审文件和施工图审查文件进行了全面的升级。<span></span>
                    </p>
                    <img src="images/news/20171128160628_4306.jpg" alt="">
                    <p class="MsoNormal" style="text-indent:26.25pt;">
                        施工图报审文件与审查文件全面升级的通知于<span>2017</span>年<span>11</span>月<span>24</span>日由成建委【2017】691号文正式发布。通知要求，自<span>2017</span>年<span>12</span>月<span>1</span>日起，全市设计单位、施工图审查机构均应按照调整优化后的格式及要求进行施工图设计文件报审、审查及备案。
                    </p>
                    <p class="MsoNormal" style="text-indent:26.25pt;">
                        该项措施将推动成都市绿色建筑，装配式建筑，<span>BIM</span>技术应用的发展，进而对全寿命期信息化管理，提升房屋建筑工程设计质量的建设起到积极作用。<span></span>
                    </p>
                </div>
                <div class="back">
                    <a href="javascript:history.go(-1);">返回</a>
                </div>
            </div>
        </div>

    </div>
</body>
</html>