<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0031)http://www.cdadri.com/cxyf.html -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>
        成都市建筑设计研究院 CDAD
    </title>
    <meta name="keywords" content="成都市建筑设计研究院,CDAD">
    <meta name="description" content="成都市建筑设计研究院（以下简称CDAD）始建于1959年，前身为成都市设计院，1991年6月正式更名为“成都市建筑设计研究院”">
    <meta name="Copyright" content="成都市建筑设计研究院">
</head>
<body style="">
    <div class="header">
        <a href="http://www.cdadri.com/" class="logo" title="成都市建筑设计研究院"></a>
    </div>
    <div class="wrapper" id="pagemain">

        <div class="box nopd">
            <input type="hidden" id="pageid" value="8">
            <div class="sjzxhead">
                <div class="sjzxmenu">
                    <ul class="clearfix">

                        <li class="active"><a href="http://www.cdadri.com/cxyf/9.html">党支部建设</a></li>

                        <li><a href="http://www.cdadri.com/cxyf/10.html">团支部建设</a></li>

                        <li><a href="http://www.cdadri.com/cxyf/11.html">党员服务志愿队</a></li>
                    </ul>
                </div>
                <div class="banner_sjzx">
                    <img src="~/images/partyBuilding/sort_20151216115918537.jpg" class="banner_sjzx_small">
                </div>
                <div class="sjzx-subname">党支部建设</div>
            </div>

            <div class="sjzxbox">
                <div class="singletitle2"></div>
                <div class="aboutcon">
                    <p>
                        &nbsp; &nbsp; 方案创作中心和方案创作工作室是为响应我院“转型升级，再创业”方针路线而设立的平台战略部门。一方面作为平台承担院下达的重大设计与研究任务，为院生产和技术工作提供方案创作领域的支持；二是在市场化运作方式下，有针对性地选择一些价值较高的项目，通过研究性的设计活动进行专业上的探索，寻求恰当的设计创作途径来创造高品质的建筑产品。<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;近年来方案创作团队不断壮大，在擅长于优秀方案创意的同时，也具备丰富的工程实际经验。通过系列激励机制和活动，一批批朝气蓬勃、富有创意的优秀年轻建筑师逐渐被发掘和激发起来。
                    </p>
                </div>

            </div>
            <div style="display:none">

            </div>

            <div class="sjzx-lastcase">
                <div class="lastcase">
                    <div class="sjzx-wqal">过往案例</div>
                    <a href="http://www.cdadri.com/case/list-7.html" class="more" title="查看更多案例"></a>
                    <div class="casescoll" id="casescoll">
                        <a class="abtn aleft agrayleft" href="http://www.cdadri.com/cxyf.html#left" title="左移" style=" display: "></a>
                        <div class="scroll_list">
                            <ul class="clearfix" style="left: 0px;">

                                <li>
                                    <a href="javascript:void(0);" onclick="OpenWin(&quot;/case/1.html&quot;)">
                                        <img src="~/images/partyBuilding/20171026051830702.jpg">
                                        <div class="lay">
                                            <h3 class="ellipsis">天府创新中心一期</h3>
                                            <p class="ellipsis">建筑设计类 | 商业办公</p>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="javascript:void(0);" onclick="OpenWin(&quot;/case/126.html&quot;)">
                                        <img src="~/images/partyBuilding/20171017032657207.jpg">
                                        <div class="lay">
                                            <h3 class="ellipsis">成都科学城兴隆湖南北岸标志性建筑概念性方案/财富大厦</h3>
                                            <p class="ellipsis">方案创作中心</p>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="javascript:void(0);" onclick="OpenWin(&quot;/case/125.html&quot;)">
                                        <img src="~/images/partyBuilding/20171017033314184.jpg">
                                        <div class="lay">
                                            <h3 class="ellipsis">成都天府创新中心</h3>
                                            <p class="ellipsis">方案创作中心</p>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="javascript:void(0);" onclick="OpenWin(&quot;/case/63.html&quot;)">
                                        <img src="~/images/partyBuilding/20151216053203361.jpg">
                                        <div class="lay">
                                            <h3 class="ellipsis">乌鲁木齐水西沟镇别墅区</h3>
                                            <p class="ellipsis">方案创作中心</p>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="javascript:void(0);" onclick="OpenWin(&quot;/case/44.html&quot;)">
                                        <img src="~/images/partyBuilding/20151216051411550.jpg">
                                        <div class="lay">
                                            <h3 class="ellipsis">青龙广场</h3>
                                            <p class="ellipsis">方案创作中心</p>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="javascript:void(0);" onclick="OpenWin(&quot;/case/43.html&quot;)">
                                        <img src="~/images/partyBuilding/20151216051318291.jpg">
                                        <div class="lay">
                                            <h3 class="ellipsis">512广场</h3>
                                            <p class="ellipsis">方案创作中心</p>
                                        </div>
                                    </a>
                                </li>

                            </ul>

                        </div>
                        <a class="abtn aright" href="http://www.cdadri.com/cxyf.html#right" title="右移" style=" display: "></a>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer">
            <div class="wrapper">
                <p>
                    <span class="fr">蜀ICP备17038600号</span>
                    成都市建筑设计研究院  版权所有
                </p>
                <p class="cright">
                    <span class="fr"><a href="http://www.mekabrand.com/" class="mk" target="_blank"></a></span>
                    Copyright © www.cdadri.com All Rights Reserved.
                </p>
            </div>
        </div>
        <script type="text/javascript" src="~/js/partyBuilding/slider.js"></script>
        <script type="text/javascript" src="~/js/partyBuilding/jquery-scrollable.js"></script>
        <script type="text/javascript">
    var team_times = $("#teamscoll li").length * 3000
    $("#teamscoll").scrollable({
        width: 972,
        height: 235,
        direction: "left",
        duration: team_times,
        delay: 100,
        scrollCount: 0
    });
    $("#casescoll").xslider({
        unitdisplayed: 3, //可视的单位个数   必需项;
        movelength: 3, //要移动的单位个数    必需项;
        unitlen: 274, //移动的单位宽或高度     默认查找li的尺寸;
        dir: "H", //水平移动还是垂直移动，默认H为水平移动，传入V或其他字符则表示垂直移动;
        autoscroll: null//自动移动间隔时间     默认null不自动移动;
    });
        </script>

    </div>
</body>
</html>