<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>
        联系我们-成都市建筑设计研究院 CDAD
    </title>
    <meta name="keywords" content="成都市建筑设计研究院,CDAD">
    <meta name="description" content="成都市建筑设计研究院（以下简称CDAD）始建于1959年，前身为成都市设计院，1991年6月正式更名为“成都市建筑设计研究院”">
    <meta name="Copyright" content="成都市建筑设计研究院">
</head>
<body style="">
    <div class="wrapper" id="pagemain">

        <div class="box">
            <input type="hidden" id="pageid" value="6">
            <div class="banner_contact"><img src="images/contact/banner_contact.jpg"></div>
            <div class="contactbox">
                <div class="weixin">
                    <img src="images/contact/ewm.jpg">
                    <p>手机微信扫一扫</p>
                    <p>关注官方微信号</p>
                </div>
                <div class="contact_title" style="display:none">
                    <div class="contact_wrap">
                        <h2>成都市建筑设计研究院</h2>
                        <h3>Chengdu Architectural Design &amp; Research Institute</h3>
                    </div>
                </div>
                <div class="contact_title">
                    <div class="contact_wrap">
                        <img src="images/contact/logo.png" title="成都市建筑设计研究院">
                    </div>
                </div>
                <div class="contact_wrap">
                    <div class="contact_content" style="display:none">
                        <div class="clearfix">
                            <p>地址：成都市人民中路一段东御河沿街16号</p>
                            <p>邮编：610100 </p>
                            <p>电话：028-8661 5227 / 028-8662 5012</p>
                            <p>传真：028-8661 5227</p>
                            <p>邮箱：</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                        </div>
                        <div class="mapbox"></div>
                    </div>
                    <div class="aboutcon">
                        <p>
                            &nbsp;
                        </p>
                        <p>
                            地址：成都市人民中路一段东御河沿街16号
                        </p>
                        <p>
                            邮编：610015&nbsp;
                        </p>
                        <p>
                            传真：028-8661 5227
                        </p>
                        <p>
                            &nbsp;
                        </p>
                        <p>
                            联系电话：
                        </p>
                        <p>
                            业务联系： 028-8661&nbsp;7862
                        </p>
                        <p>
                            新疆分院： 0991-8890915
                        </p>
                        <p>
                            &nbsp;
                        </p>
                        <p>
                            &nbsp;
                        </p>
                        <p>
                            &nbsp;
                        </p>
                        <p>
                            <img alt="" src="images/contact/20151214013748_7051.jpg">&nbsp;
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>