<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0032)http://www.cdadri.com/award.html -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>
        荣誉奖项 - 企业介绍-成都市建筑设计研究院 CDAD
    </title>
    <meta name="keywords" content="成都市建筑设计研究院,CDAD">
    <meta name="description" content="成都市建筑设计研究院（以下简称CDAD）始建于1959年，前身为成都市设计院，1991年6月正式更名为“成都市建筑设计研究院”">
    <meta name="Copyright" content="成都市建筑设计研究院">
</head>
<body style="">
    <div class="wrapper" id="pagemain">

        <div class="box">
            <input type="hidden" id="pageid" value="2">
            <div class="tabnav">
                <ul class="clearfix">
                    <li class="col-xs-4"><a href="/CompanyProfile/Index">组织架构</a></li>
                    <li class="col-xs-4"><a href="/CompanyProfile/Qualification">企业资质</a></li>
                    <li class="col-xs-4"><a href="/CompanyProfile/HonoraryAward">荣誉奖项</a></li>

                </ul>
            </div>
            <div class="singlebox clearfix">
                <div class="banner_photo"><img src="~/images/companyProfile/banner_award.jpg"></div>
                <div class="awardlist">
                    <ul>

                        <li>
                            <a href="javascript:voide(0)" target="_blank">
                                <strong>遂宁仁里码头广场</strong>
                                <span>2016年 / 成都市优秀园林景观二等奖</span>
                            </a>
                        </li>

                        <li class="db">
                            <a href="javascript:voide(0)" target="_blank">
                                <strong>遂宁河东区仁里滨河区廊桥工程</strong>
                                <span>2016年 / 成都市优秀原创方案二等奖</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:voide(0)" target="_blank">
                                <strong> 新疆准东开发区体育馆</strong>
                                <span>2016年 / 成都市优秀原创方案二等奖</span>
                            </a>
                        </li>

                        <li class="db">
                            <a href="javascript:voide(0)" target="_blank">
                                <strong>天府新区创新中心一期工程</strong>
                                <span>2016年 / 成都市优秀原创方案一等奖</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:voide(0)" target="_blank">
                                <strong>成都市住保中心公租房“东锦瑞苑”</strong>
                                <span>2015年 / 四川省优秀建筑工程二等奖</span>
                            </a>
                        </li>

                        <li class="db">
                            <a href="javascript:voide(0)" target="_blank">
                                <strong>华润LaVie峰尚</strong>
                                <span>2015年 / 四川省优秀建筑工程二等奖</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:voide(0)" target="_blank">
                                <strong>新都区人民医院迁建（新城医院）</strong>
                                <span>2015年 / 四川省优秀建筑工程二等奖</span>
                            </a>
                        </li>

                        <li class="db">
                            <a href="javascript:voide(0)" target="_blank">
                                <strong>农村集中居住区建筑节能与热环境改善研究项目</strong>
                                <span>2015年四川省科技进步三等奖</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:voide(0)" target="_blank">
                                <strong>成都市环城生态湖泊水系规划建设实施方案</strong>
                                <span>2014年 / 成都市优秀园林景观设计一等奖</span>
                            </a>
                        </li>

                        <li class="db">
                            <a href="javascript:voide(0)" target="_blank">
                                <strong>滨江路西段综合整治工程</strong>
                                <span>2014年 / 成都市优秀原创方案三等奖</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:voide(0)" target="_blank">
                                <strong>日喀则地区人民医院新院区建设项目</strong>
                                <span>2014年 / 成都市优秀原创方案二等奖</span>
                            </a>
                        </li>

                        <li class="db">
                            <a href="javascript:voide(0)" target="_blank">
                                <strong>蜀都大道西段综合整治工程</strong>
                                <span>2014年 / 成都市优秀原创方案二等奖</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:voide(0)" target="_blank">
                                <strong>石家庄档案馆新馆建设项目</strong>
                                <span>2014年 / 成都市优秀原创方案一等奖</span>
                            </a>
                        </li>

                        <li class="db">
                            <a href="javascript:voide(0)" target="_blank">
                                <strong>莱蒙置地广场</strong>
                                <span>2014年 / 四川省建筑工程方案一等奖/成都市建筑工程方案二等奖</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:voide(0)" target="_blank">
                                <strong>成都市公安局新建业务用房</strong>
                                <span>2014年 / 四川省优秀勘察设计二等奖/成都市优秀勘察设计一等奖</span>
                            </a>
                        </li>

                        <li class="db">
                            <a href="javascript:voide(0)" target="_blank">
                                <strong>四川省高寒牧民定居点室内给排水及厕所防冻技术导则</strong>
                                <span>2013年 / 四川省优秀勘察设计一等奖</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:voide(0)" target="_blank">
                                <strong>锦城湖公园</strong>
                                <span>2013年 / 成都市优秀园林景观一等奖</span>
                            </a>
                        </li>

                        <li class="db">
                            <a href="javascript:voide(0)" target="_blank">
                                <strong>双流应急联动指挥中心</strong>
                                <span>2013年 / 成都市优秀原创方案二等奖</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:voide(0)" target="_blank">
                                <strong>成都市国家综合档案馆</strong>
                                <span>2013年 / 成都市优秀原创方案一等奖</span>
                            </a>
                        </li>

                        <li class="db">
                            <a href="javascript:voide(0)" target="_blank">
                                <strong>川师大活动中心和舞蹈大楼</strong>
                                <span>2013年 / 四川省优秀勘察设计二等奖</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:voide(0)" target="_blank">
                                <strong>恒创蜀都广场（商业楼）</strong>
                                <span>2013年 / 四川省优秀勘察设计二等奖/成都市优秀勘察设计二等奖</span>
                            </a>
                        </li>

                    </ul>

                </div>
                <div class="pagebox">

                    <!-- AspNetPager 7.3.2  Copyright:2003-2010 Webdiyer (www.webdiyer.com) -->
                    <div id="ctl00_Main_AspNetPager1" style="width:100%;">
                        <a disabled="disabled" style="margin-right:5px;">&lt; 上一页</a><span class="currue" style="margin-right:5px;">1</span><a href="http://www.cdadri.com/award/list-2.html" style="margin-right:5px;">2</a><a href="http://www.cdadri.com/award/list-3.html" style="margin-right:5px;">3</a><a href="http://www.cdadri.com/award/list-4.html" style="margin-right:5px;">4</a><a href="http://www.cdadri.com/award/list-5.html" style="margin-right:5px;">5</a><a href="http://www.cdadri.com/award/list-2.html" style="margin-right:5px;">下一页 &gt;</a>
                    </div>
                    <!-- AspNetPager 7.3.2  Copyright:2003-2010 Webdiyer (www.webdiyer.com) -->

                </div>
            </div>
        </div>

    </div>
</body>
</html>